

.App {
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #61dafb;
  text-transform: uppercase;
}

Form {
  width: 600px;
  margin-top: 10vh; 
}


  
  


